* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  height: auto;
  width: auto;
  background-color: black;
  padding: 20px;
  color: aliceblue;
  text-decoration-line: underline;
}
